<!-- Navigation -->
<nav class="nav-wrap">
    <a href="{{ site.baseurl }}/" class="nav-logo {% if(page.url == '/') %}nav-dark{% endif %}">

        <?xml version="1.0" standalone="no"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
        "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
        width="182.000000pt" height="103.000000pt" viewBox="0 0 182.000000 103.000000"
        preserveAspectRatio="xMidYMid meet">
        <metadata>
        Created by potrace 1.15, written by Peter Selinger 2001-2017
        </metadata>
        <g transform="translate(0.000000,103.000000) scale(0.100000,-0.100000)"
        fill="#000000" stroke="none">
        <path d="M165 1017 c-60 -23 -106 -59 -133 -105 l-27 -47 0 -346 0 -346 30
        -49 c19 -30 49 -60 79 -79 l49 -30 719 -3 c490 -2 732 1 759 8 25 7 59 29 89
        58 75 73 80 101 80 433 0 163 -5 299 -11 329 -15 69 -62 129 -128 163 l-55 27
        -710 -1 c-519 0 -719 -4 -741 -12z m1489 -69 c51 -35 93 -98 101 -151 4 -23 5
        -163 3 -312 -3 -241 -5 -274 -22 -305 -26 -49 -55 -79 -98 -101 -36 -18 -69
        -19 -732 -19 -406 0 -705 4 -719 9 -38 15 -96 70 -118 112 -18 35 -19 61 -19
        336 0 268 2 302 19 339 21 46 81 100 126 114 17 4 340 8 725 7 l695 -2 39 -27z"/>
        <path d="M370 785 l0 -45 149 0 c83 0 152 -4 155 -8 2 -4 -67 -98 -155 -209
        -158 -200 -159 -202 -159 -252 l0 -51 550 0 550 0 0 45 0 45 -469 0 c-259 0
        -472 4 -475 8 -2 4 67 98 155 209 158 200 159 202 159 252 l0 51 -230 0 -230
        0 0 -45z"/>
        <path d="M1098 814 c-15 -8 -32 -23 -38 -34 -13 -24 -30 -17 -30 11 0 16 -7
        19 -50 19 l-50 0 0 -215 0 -215 50 0 50 0 0 116 c0 63 5 135 11 160 13 50 57
        94 95 94 21 0 24 4 24 40 0 45 -14 51 -62 24z"/>
        <path d="M1220 605 l0 -225 56 0 55 0 -3 184 c-3 169 -5 187 -24 212 -11 16
        -35 34 -52 41 l-32 13 0 -225z"/>
        </g>
        </svg>
        
    </a>
    <ul class="navigation {% if(page.url == '/') %}nav-dark{% endif %}">
        <li class=""><a href="{{ site.baseurl }}/">Home</a></li>
        <li class=""><a href="{{ site.baseurl }}/case-studies">Case Studies</a></li>
        <li class=""><a href="{{ site.baseurl }}/blog">Blog</a></li>
    </ul>
    
    <!-- Mobile Navigation -->
    <div class="nav-toggle-open-wrapper {% if(page.url == '/') %}nav-dark{% endif %}">
        <svg height="384pt" viewBox="0 -53 384 384" width="384pt" xmlns="http://www.w3.org/2000/svg">
            <path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
            <path stroke="red" d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
            <path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/>
        </svg>
    </div>
    <div class="nav-toggle-body-overlay"></div>
    <div class="toggled-nav-wrapper">
        <div class="nav-toggle-close-wrapper">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                        L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                        c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                        l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                        L284.286,256.002z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
        </div>
        <div class="internal-nav-links-wrapper">
            <a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>Who is Rakesh?</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
            <a href="{{ site.baseurl }}/case-studies" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Case Studies</h5><small>What is the process?</small></div><div class="internal-link-icon internal-link-icon-case-studies"></div></a>
            <a href="{{ site.baseurl }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blog</h5><small>What does he think?</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
        </div>
        <hr/>
        <div class="external-links-wrapper">
            <a href="{{ site.facebook_path }}" target="_blank" class="external-link-wrapper"><h6>Facebook</h6><div class="external-link-icon external-link-icon-facebook"></div></a>
            <a href="{{ site.twitter_path }}" target="_blank" class="external-link-wrapper"><h6>Twitter</h6><div class="external-link-icon external-link-icon-twitter"></div></a>
            <a href="{{ site.github_path }}" target="_blank" class="external-link-wrapper"><h6>Github</h6><div class="external-link-icon external-link-icon-github"></div></a>
        </div>
    </div>
</nav>
<!-- End Navigation -->