---
layout: default
---
<header class="blog-index-header-main" style="background-image:url('{{ site.url }}{{ site.pathToBlogImgBin }}{{ page.featImg }}');">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="blog-index-title">
        <h1 class="featured-blog-post-title">{{ page.title }}</h1>
    </div>
    <div class="authorCard">
        <img src="{{ site.url }}{{site.data.authors[page.author].avatar}}" alt="{{site.data.authors[page.author].name}} Avatar" />
        <small><em>By <a href="#">{{site.data.authors[page.author].name}}</a><br/>on {{ page.date | date: "%B %e, %Y" }}</em></small>
    </div>
</header>
<div class="blog-post-content-wrapper">
    {{ content }}
</div>
<hr/>
<h5 class="read-more-CTA">You Might Want To Read...</h5>
<div class="blogReadMoreWrapper">

</div>